@import url("https://fonts.googleapis.com/css2?family=Lacquer&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lacquer", cursive;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #121212;
  color: antiquewhite;
}

.glitch {
  position: relative;
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 1rem;
}

.glitch::before,
.glitch::after {
  background: #121212;
  color: antiquewhite;
  position: absolute;
  content: attr(data-text);
  width: 100%;
  height: 100%;
  top: 0;
}

.glitch::before {
  left: 3px;
  text-shadow: -3px 0 #f02d2d;
  animation: glitch-anim 4s infinite linear alternate-reverse;
}

.glitch::after {
  left: -3px;
  text-shadow: 3px 0 #0011ff;
  animation: glitch-anim-2 4s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip-path: inset(38% 0 46% 0);
  }
  5% {
    clip-path: inset(13% 0 88% 0);
  }
  10% {
    clip-path: inset(89% 0 3% 0);
  }
  15% {
    clip-path: inset(9% 0 16% 0);
  }
  20% {
    clip-path: inset(33% 0 23% 0);
  }
  25% {
    clip-path: inset(80% 0 21% 0);
  }
  30% {
    clip-path: inset(21% 0 59% 0);
  }
  35% {
    clip-path: inset(96% 0 3% 0);
  }
  40% {
    clip-path: inset(9% 0 74% 0);
  }
  45% {
    clip-path: inset(28% 0 67% 0);
  }
  50% {
    clip-path: inset(93% 0 2% 0);
  }
  55% {
    clip-path: inset(54% 0 25% 0);
  }
  60% {
    clip-path: inset(45% 0 24% 0);
  }
  65% {
    clip-path: inset(32% 0 42% 0);
  }
  70% {
    clip-path: inset(99% 0 1% 0);
  }
  75% {
    clip-path: inset(92% 0 1% 0);
  }
  80% {
    clip-path: inset(16% 0 12% 0);
  }
  85% {
    clip-path: inset(67% 0 32% 0);
  }
  90% {
    clip-path: inset(3% 0 98% 0);
  }
  95% {
    clip-path: inset(61% 0 33% 0);
  }
  100% {
    clip-path: inset(49% 0 15% 0);
  }
}
@keyframes glitch-anim-2 {
  0% {
    clip-path: inset(95% 0 5% 0);
  }
  5% {
    clip-path: inset(4% 0 10% 0);
  }
  10% {
    clip-path: inset(97% 0 4% 0);
  }
  15% {
    clip-path: inset(38% 0 1% 0);
  }
  20% {
    clip-path: inset(1% 0 42% 0);
  }
  25% {
    clip-path: inset(63% 0 4% 0);
  }
  30% {
    clip-path: inset(64% 0 2% 0);
  }
  35% {
    clip-path: inset(83% 0 3% 0);
  }
  40% {
    clip-path: inset(37% 0 15% 0);
  }
  45% {
    clip-path: inset(12% 0 65% 0);
  }
  50% {
    clip-path: inset(75% 0 19% 0);
  }
  55% {
    clip-path: inset(77% 0 12% 0);
  }
  60% {
    clip-path: inset(13% 0 35% 0);
  }
  65% {
    clip-path: inset(38% 0 7% 0);
  }
  70% {
    clip-path: inset(51% 0 21% 0);
  }
  75% {
    clip-path: inset(42% 0 55% 0);
  }
  80% {
    clip-path: inset(89% 0 2% 0);
  }
  85% {
    clip-path: inset(32% 0 5% 0);
  }
  90% {
    clip-path: inset(37% 0 10% 0);
  }
  95% {
    clip-path: inset(56% 0 32% 0);
  }
  100% {
    clip-path: inset(36% 0 25% 0);
  }
}
